<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <header>

    <div>
      <h1>Space transporter</h1>
    </div>
  </header>
  <container>
    <table>
      <thead>
        <tr>
          <th>Planet</th>
          <th>Population</th>
          <th>Scpaceship location</th>
          <th>People on ship</th>
        </tr>
      </thead>
      <tbody>
        <% planet.forEach(item => { %>

          <td>
            <div class="name">
              <%= item.name %>
            </div>
          </td>

          <td>
            <div class="population" pop-id="<%= item.id %>" </div>
              <%= item.population %>
            </div>
          </td>

          <td>
            <button class="movehere" data-id="<%= item.id %>">Move here</button>
            <button class="toplanet" toplanet-id="<%= item.id %>">
                <% if (spaceship.planet === item.name) { %>
                  <%= "To planet" %>
                <% } else { %>
                  <%= "------------" %>
                <% } %>
            </button>
            <button class="toship" toship-id="<%= item.id %>">
                <% if (spaceship.planet === item.name) { %>
                  <%= "To ship" %>
                <% } else { %>
                  <%= "---------" %>
                <% } %>
            </button>
          </td>

          <td>
            <div class="onship">
              <% if (spaceship.planet === item.name) { %>
                <%= spaceship.utilization %>
              <% } else { %>
                <%= "-" %>
              <% } %>
            </div>
          </td>


      </tbody>
      <% }) %>
    </table>
  </container>
  <div>
      <h3>Please refresh the page after every ship-move!</h3>
    </div>
  <script src="/static/script.js"></script>
</body>

</html>