<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/static/citystyle.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
  <title>Weather forecast</title>
</head>

<body>

  <div class="header">
    <h2>
      <%=data[0].city%>
    </h2>
  </div>
  <div class="container">
    <% data[0].weather.forEach((e, i) => { %>
      <table>
        <tbody>
          <tr>
            <td>
              <img src="/static/<%=data[0].weather[i].icon%>.png" alt="<%=data[0].weather[i].icon%>">
            </td>
          </tr>
          <td class="temp">
            <%=data[0].weather[i].temp + ('°C')%>
          </td>
          <tr>
            <td class="message">
              <%=data[0].weather[i].message%>
            </td>
          </tr>
        </tbody>
      </table>
      <% }); %>
  </div>

</body>

</html>